<!DOCTYPE html>
<html>
<head>
<title>Ongkir app</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>

  <div class="container">
  <h2>Cek Provinsi berdasarkan RajaOngkir</h2>
  <form>
    <div class="form-group">
      <label>Unique ID</label>
      <input placeholder="enter id">
    </div>
    <button>Search</button>
  </form>
  <p id="message-1"></p>
  <p id="message-2"></p>
</div>


<script src="/js/app.js"></script>
</body>

</html>