<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>Biodata diri</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/product/">

    <!-- Bootstrap core CSS -->
<link href="assets/dist/css/bootstrap.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="product.css" rel="stylesheet">
  </head>
  <body>
    <nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="index.html" aria-label="Product">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
    </a>
    <a class="py-2 d-none d-md-inline-block" href="index.html">Home</a>
    <a class="py-2 d-none d-md-inline-block" href="tentangsaya.html">Tentang saya</a>
    <a class="py-2 d-none d-md-inline-block" href="hubungisaya.html">Hubungi saya</a>
    <a class="py-2 d-none d-md-inline-block" href="keahliansaya.html">Keahlian saya</a>
    <a class="py-2 d-none d-md-inline-block" href="portofolio.html">Portofolio</a>
  </div>
</nav>

<div class="jumbotron">  
<div class="container">
  <div class="row">
          <h4 style="margin-top:20px;font-family:'Titillium Web'">Portofolio</h4>
          <hr class="star-dark mb-5">
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-2 cols">
            <img data-toggle="modal" data-target="#sapModal" class="img-fluid" src="assets/image/fajrul.jpg" alt="">
            <br><br>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#sapModal">Lihat</button>
            <!-- <div style="margin-top:20px">
              <strong style="font-family:'Titillium Web';"><a href="http://www.map7.at/en">Map7 Consulting</a></strong>
              <p style="font-size: 0.9em;text-align: justify;"><strong>Map7 Consulting</strong> focus is on data exchange between business partners (EDI /B2B) employing various ERP systems (SAP, SD, Wamas, Sherpa, Seeburger interfaces).</p>
            </div> -->
              <div class="modal fade" id="sapModal" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header" style="padding:2px;padding-left: 5%">
                        <h4 style="font-family: 'Titillium Web'">
                          Rendang Kak Tati
                        </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <!-- <h4 class="modal-title">Modal Header</h4> -->
                      </div>
                      <div class="modal-body" style="    font-size: 15px;line-height: 1.2em;">
                        <p style="font-size: 0.9em;text-align: justify;"><strong>Rendang Kak Tati</strong> adalah usaha rumahan yang mempromosikan makanan khas Kampar ke seluruh dunia melalui website <a href="https://www.rendangkaktati.com"> rendangkaktati.com</a> mereka yang saya buat. </p>
                      </div>
                      
                    </div>
                    
                  </div>
                </div>
          </div>
          <div class="col-md-6 col-lg-2 cols">
            <img data-toggle="modal" data-target="#inposiaModal" class="img-fluid" src="assets/image/fajrul.jpg" alt="">
            <!-- <div style="margin-top:20px">
              <strong style="font-family:'Titillium Web';"><a href="http://www.inposia.de/">INPOSIA Solutions GmbH</a></strong>
              <p style="font-size: 0.9em;text-align: justify;"><strong>INPOSIA</strong> enables companies to exchange Electronic Data between each other, just by using the GPX CLOUD Service, without the need of EDI software or skills.</p>
            </div> -->
            <div class="modal fade" id="inposiaModal" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header" style="padding:2px;padding-left: 5%">
                        <h4 style="font-family: 'Titillium Web'">
                          INPOSIA Solutions GmbH
                        </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <!-- <h4 class="modal-title">Modal Header</h4> -->
                      </div>
                      <div class="modal-body" style="    font-size: 15px;line-height: 1.2em;">
                        <p style="font-size: 0.9em;text-align: justify;"><strong>INPOSIA</strong>  enables companies to exchange Electronic Data between each other, just by using the GPX CLOUD Service, without the need of EDI software or skills.</p>
                      </div>
                      
                    </div>
                    
                  </div>
                </div>
          </div>
          <div class="col-md-6 col-lg-2 cols">
            <img data-toggle="modal" data-target="#seeburgerModal" class="img-fluid" src="assets/image/fajrul.jpg" alt="">
            <!-- <div style="margin-top:20px">
              <strong style="font-family:'Titillium Web';"><a href="http://www.seeburger.eu/home.html">SEEBURGER</a></strong>
              <p style="font-size: 0.9em;text-align: justify;"><strong>SEEBURGER</strong> is a leading provider of global business integration and managed file transfer solutions designed to optimize transactions throughout the extended enterprise.</p>
            </div> -->
            <div class="modal fade" id="seeburgerModal" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header" style="padding:2px;padding-left: 5%">
                        <h4 style="font-family: 'Titillium Web'">
                          SEEBURGER
                        </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <!-- <h4 class="modal-title">Modal Header</h4> -->
                      </div>
                      <div class="modal-body" style="    font-size: 15px;line-height: 1.2em;">
                        <p style="font-size: 0.9em;text-align: justify;"><strong>SEEBURGER</strong> is a leading provider of global business integration and managed file transfer solutions designed to optimize transactions throughout the extended enterprise.</p>
                      </div>
                      
                    </div>
                    
                  </div>
                </div>

          </div>
          <div class="col-md-6 col-lg-2 cols">
            <img data-toggle="modal" data-target="#intensysModal" class="img-fluid" src="assets/image/fajrul.jpg" alt="">
           <!--  <div style="margin-top:20px">
              <strong style="font-family:'Titillium Web';"><a href="http://www.intentsys.net/">Intentsys</a></strong>
              <p style="font-size: 0.9em;text-align: justify;"><strong>Intentsys</strong> is passionate about the "Space Between", the space that connects SAP and other Enterprise Systems, Components, Devices, Things, Machines and People.</p>
            </div> -->
             <div class="modal fade" id="intensysModal" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header" style="padding:2px;padding-left: 5%">
                        <h4 style="font-family: 'Titillium Web'">
                          Intentsys
                        </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <!-- <h4 class="modal-title">Modal Header</h4> -->
                      </div>
                      <div class="modal-body" style="    font-size: 15px;line-height: 1.2em;">
                        <p style="font-size: 0.9em;text-align: justify;"><strong>Intentsys</strong> is passionate about the "Space Between", the space that connects SAP and other Enterprise Systems, Components, Devices, Things, Machines and People.</p>
                      </div>
                      
                    </div>
                    
                  </div>
                </div>
          </div>
          <div class="col-md-6 col-lg-2 cols">
            <img data-toggle="modal" data-target="#ptpnmModal" class="img-fluid" src="assets/image/fajrul.jpg" alt="">
           <!--  <div style="margin-top:20px">
              <strong style="font-family:'Titillium Web';"><a href="http://www.intentsys.net/">Intentsys</a></strong>
              <p style="font-size: 0.9em;text-align: justify;"><strong>Intentsys</strong> is passionate about the "Space Between", the space that connects SAP and other Enterprise Systems, Components, Devices, Things, Machines and People.</p>
            </div> -->

            <div class="modal fade" id="ptpnmModal" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header" style="padding:2px;padding-left: 5%">
                        <h4 style="font-family: 'Titillium Web'">
                          PT PRATAMA NATANUSA MANDIRI
                        </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <!-- <h4 class="modal-title">Modal Header</h4> -->
                      </div>
                      <div class="modal-body" style="    font-size: 15px;line-height: 1.2em;">
                        <p style="font-size: 0.9em;text-align: justify;"><strong>PT PRATAMA NATANUSA MANDIRI</strong> is provide business consulting services to help you address the non-technical aspects of IT applications deployment.</p>
                      </div>
                      
                    </div>
                    
                  </div>
                </div>
          </div>
          <div class="col-md-6 col-lg-2 cols">
            <img data-toggle="modal" data-target="#mule2Modal" class="img-fluid" src="assets/image/fajrul.jpg" alt="">
           <!--  <div style="margin-top:20px">
              <strong style="font-family:'Titillium Web';"><a href="http://www.intentsys.net/">Intentsys</a></strong>
              <p style="font-size: 0.9em;text-align: justify;"><strong>Intentsys</strong> is passionate about the "Space Between", the space that connects SAP and other Enterprise Systems, Components, Devices, Things, Machines and People.</p>
            </div> -->
            <div class="modal fade" id="mule2Modal" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header" style="padding:2px;padding-left: 5%">
                        <h4 style="font-family: 'Titillium Web'">
                          Mulesoft
                        </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <!-- <h4 class="modal-title">Modal Header</h4> -->
                      </div>
                      <div class="modal-body" style="    font-size: 15px;line-height: 1.2em;">
                        <p style="font-size: 0.9em;text-align: justify;"><strong>Mulesoft</strong> provides an integration platform for connecting any application, data source or API, whether in the cloud or on-premises.</p>
                      </div>
                      
                    </div>
                    
                  </div>
                </div>

          </div>
        </div>
             <div class="modal fade" id="scModal" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header" style="padding:2px;padding-left: 5%">
                        <h4 style="font-family: 'Titillium Web'">
                          Standard Chartered PLC
                        </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <!-- <h4 class="modal-title">Modal Header</h4> -->
                      </div>
                      <div class="modal-body" style="    font-size: 15px;line-height: 1.2em;">
                         <strong style="font-family:'Titillium Web';"><a href="http://www.standardchartered.co.id/id/en/">Standard Chartered Bank</a></strong>
                          <p style="font-size: 0.9em;text-align: justify;"><strong>Standard Chartered PLC</strong> is a British multinational banking and financial services company.</p>
                          <p style="font-size: 0.9em;text-align: justify;"><strong>Project:</strong> Host-to-Host Internet Banking between SCB and Corporate Customers.</p>
                      </div>
                      
                    </div>
                    
                  </div>
              </div>
          </div>
        </div>
      </body>

<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24" focusable="false"><title>Portofolio</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
      <small class="d-block mb-3 text-muted">Fajrul Munawwar &copy; 2020</small>
    </div>
   
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.js"></script></body>
</html>
